<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428451069705-8sdqle3u2nf5i52pe9a85igos1l3pifp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428451069705-8sdqle3u2nf5i52pe9a85igos1l3pifp</string>
	<key>API_KEY</key>
	<string>AIzaSyBzikALi16zu-QAc6NRTZPR0RpMHc3jh_M</string>
	<key>GCM_SENDER_ID</key>
	<string>428451069705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frankdulko.gaggle</string>
	<key>PROJECT_ID</key>
	<string>gaggle-a3b9e</string>
	<key>STORAGE_BUCKET</key>
	<string>gaggle-a3b9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428451069705:ios:a518f9e543f195916f9dd8</string>
</dict>
</plist>