<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Hamish.otf</string>
		<string>aAkhirTahun.otf</string>
		<string>LouisGeorgeCafeBold.ttf</string>
		<string>LouisGeorgeCafe.ttf</string>
		<string>CreatoDisplay-Regular.otf</string>
		<string>CreatoDisplay-Bold.otf</string>
		<string>CreatoDisplay-Black.otf</string>
	</array>
</dict>
</plist>
